interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.lever.co/v0/postings/shieldai?mode=json
  response:
    body:
      string: '[{"categories": {"commitment": "Full Time Employee", "department":
        "Aircraft Operations Division", "location": "Dallas, Texas", "team": "Production",
        "allLocations": ["Dallas, Texas"]}, "createdAt": 1768262155272, "id": "78842190-deba-4864-9ef9-272009cb15a4",
        "salaryRange": {"min": 84965, "max": 127447, "currency": "USD", "interval":
        "per-year-salary"}, "text": "Associate Engineer, Manufacturing (R4637)", "country":
        "US", "workplaceType": "onsite", "hostedUrl": "https://jobs.lever.co/shieldai/78842190-deba-4864-9ef9-272009cb15a4",
        "applyUrl": "https://jobs.lever.co/shieldai/78842190-deba-4864-9ef9-272009cb15a4/apply"},
        {"categories": {"commitment": "Full Time Employee", "department": "Aircraft
        Operations Division", "location": "Dallas, Texas", "team": "Shipping", "allLocations":
        ["Dallas, Texas"]}, "createdAt": 1776989945917, "id": "38c1f9a5-5e1a-4d91-b2f5-83c0fe4311d4",
        "salaryRange": {"min": 60000, "max": 90000, "currency": "USD", "interval":
        "per-year-salary"}, "text": "Associate Global S/R[...]
